<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c)  2022 TechSure Co.,Ltd.  All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeployJobTriggerMapper">
    <select id="getTriggerCount" resultType="java.lang.Integer">
        select count(djt.`id`)
        from deploy_job_trigger djt
        <where>
            <if test="keyword != null and keyword != ''">
                AND djt.name LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <resultMap id="triggerMap" type="codedriver.framework.deploy.dto.trigger.DeployJobTriggerVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="isActive" property="isActive"/>
        <result column="integrationUuid" property="integrationUuid"/>
        <result column="buildNoPolicy" property="buildNoPolicy"/>
        <result column="configStr" property="configStr"/>
        <result column="lcd" property="lcd"/>
        <result column="lcu" property="lcu"/>
    </resultMap>

    <select id="searchTrigger" resultMap="triggerMap">
        select
        djt.`id`,
        djt.`name`,
        djt.`is_active` as isActive,
        djt.`integration_uuid` as integrationUuid,
        djt.`build_no_policy` as buildNoPolicy,
        djt.`config` as configStr,
        djt.`lcd`,
        djt.`lcu`
        from deploy_job_trigger djt
        <where>
            <if test="keyword != null and keyword != ''">
                AND djt.name LIKE concat('%',#{keyword},'%')
            </if>
        </where>
        order by djt.`lcd` desc
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="checkTriggerNameIsExist"
            resultType="java.lang.Integer">
        select count(djt.`id`)
        from deploy_job_trigger djt
        where djt.id != #{id}
          and djt.name = #{name}
    </select>

    <select id="getTriggerById" resultType="codedriver.framework.deploy.dto.trigger.DeployJobTriggerVo">
        select djt.`id`,
               djt.`name`,
               djt.`is_active`        as isActive,
               djt.`integration_uuid` as integrationUuid,
               djt.`build_no_policy`  as buildNoPolicy,
               djt.`config`           as configStr,
               djt.`lcd`,
               djt.`lcu`
        from deploy_job_trigger djt
        where djt.id = #{value}
    </select>
    <select id="getTriggerListByAppSystemIdAndAppModuleId"
            resultType="codedriver.framework.deploy.dto.trigger.DeployJobTriggerVo">
        select djt.`id`,
               djt.`name`,
               djt.`is_active`        as isActive,
               djt.`integration_uuid` as integrationUuid,
               djt.`build_no_policy`  as buildNoPolicy,
               djt.`config`           as configStr,
               djt.`lcd`,
               djt.`lcu`
        from deploy_job_trigger djt
                 join deploy_job_trigger_app_module djtam on djt.id = djtam.trigger_id
        where djtam.app_system_id = #{appSystemId}
          and djtam.app_module_id = #{appModuleId}
    </select>

    <insert id="insertJobTrigger">
        insert into deploy_job_trigger (`id`,
                                        `name`,
                                        `is_active`,
                                        `integration_uuid`,
                                        `type`,
                                        `pipeline_type`,
                                        `build_no_policy`,
                                        `config`,
                                        `lcd`,
                                        `lcu`)
        values (#{id},
                #{name},
                #{isActive},
                #{integrationUuid},
                #{type},
                #{pipelineType},
                #{buildNoPolicy},
                #{configStr},
                NOW(),
                #{lcu})
    </insert>
    <insert id="insertJobTriggerAppModule">
        insert into deploy_job_trigger_app_module (`trigger_id`,
                                                   `app_system_id`,
                                                   `app_module_id`)
        values (#{triggerId},
                #{appSystemId},
                #{appModuleId})
    </insert>

    <update id="updateJobTrigger">
        update deploy_job_trigger
        set `name`             = #{name},
            `is_active`        = #{isActive},
            `integration_uuid` = #{integrationUuid},
            `type`             = #{type},
            `pipeline_type`    = #{pipelineType},
            `build_no_policy`  = #{buildNoPolicy},
            `config`           = #{config},
            `lcd`              = NOW(3),
            `lcu`              = #{lcu}
        where `id` = #{id}
    </update>
</mapper>