<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c)  2022 TechSure Co.,Ltd.  All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeployJobMapper">

    <select id="getDeployJobByJobId" resultType="codedriver.framework.deploy.dto.DeployJobVo">
        select id,
               app_system_id as appSystemId,
               app_module_id as appModuleId,
               env_id        as envId,
               version,
               job_id        as jobId,
               build_no      as buildNo,
               runner_map_id as runnerMapId
        from deploy_job
        where job_id = #{value}
    </select>

    <select id="getRecentlyJobRunnerMapIdByAppSystemIdAndAppModuleId" resultType="java.lang.Long">
        select runner_map_id
        from deploy_job
        where app_system_id = #{appSystemId}
          and app_module_id = #{appModuleId}
        order by job_id desc
        limit 1
    </select>

    <select id="getDeployJobListByAppSystemIdAndAppModuleId"
            resultType="codedriver.framework.deploy.dto.DeployJobVo">
        select id,
        app_system_id as appSystemId,
        app_module_id as appModuleId,
        env_id as envId,
        version,
        job_id as jobId,
        runner_map_id as runnerMapId
        from deploy_job
        <where>
            <if test="appSystemId != null">
                app_system_id = #{appSystemId}
            </if>
            <if test="appModuleId != null">
                and app_module_id = #{appModuleId}
            </if>
        </where>

    </select>

    <select id="getDeployJobContentLock"
            resultType="codedriver.framework.deploy.dto.DeployJobContentVo">
        SELECT `hash`,
               `content`
        FROM `autoexec_job_content`
        where `hash` = #{value} for
        update
    </select>

    <select id="getDeployJobContent"
            resultType="codedriver.framework.deploy.dto.DeployJobContentVo">
        SELECT `hash`,
               `content`
        FROM `autoexec_job_content`
        where `hash` = #{value}
    </select>

    <insert id="insertDeployJob">
        insert into deploy_job (`id`, `app_system_id`, `app_module_id`, `env_id`, `version`, `job_id`, `runner_map_id`,
                                `config_hash`,
                                `build_no`)
        values (#{id},
                #{appSystemId},
                #{appModuleId},
                #{envId},
                #{version},
                #{jobId},
                #{runnerMapId},
                #{configHash},
                #{buildNo})
    </insert>

    <insert id="insertIgnoreDeployJobContent"
            parameterType="codedriver.framework.deploy.dto.DeployJobContentVo">
        INSERT IGNORE INTO `deploy_job_content` (`hash`, `content`)
        VALUES (#{hash}, #{content});
    </insert>

    <insert id="insertDeployVersionBuildNo">
        INSERT INTO `deploy_version_buildno` (`version_id`, `build_no`, `job_id`, `status`)
        values (#{versionId}, #{buildNo}, #{jobId}, #{status})
    </insert>

    <update id="updateDeployJobRunnerMapId">
        update deploy_job
        set `runner_map_id` = #{runnerMapId}
        where `job_id` = #{jobId}
    </update>

    <delete id="deleteDeployJobContentByHash" parameterType="java.lang.String">
        DELETE
        FROM `deploy_job_content`
        WHERE `hash` = #{value};
    </delete>

</mapper>