<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeploySqlMapper">

    <insert id="insertDeploySqlDetail">
        insert into `deploy_sql_detail`(`id`,
        `system_id`,
        `module_id`,
        `env_id`,
        `version`,
        `sql_file`,
        `status`,
        `md5`,
        `host`,
        `port`,
        `resource_id`,
        `node_name`,
        `runner_id`,
        `is_delete`
        <choose>
            <when test="sqlVo.status == 'pending'">
            </when>
            <when test="sqlVo.status == 'running'">
                ,`start_time`
            </when>
            <otherwise>
                ,`end_time`
            </otherwise>
        </choose>
        )
        values (#{sqlVo.id},
        #{sysId},
        #{moduleId},
        #{envId},
        #{version},
        #{sqlVo.sqlFile},
        #{sqlVo.status},
        #{sqlVo.md5},
        #{sqlVo.host},
        #{sqlVo.port},
        #{sqlVo.resourceId},
        #{sqlVo.nodeName},
        #{runnerId},
        #{sqlVo.isDelete}
        <choose>
            <when test="sqlVo.status == 'pending'">
            </when>
            <when test="sqlVo.status == 'running'">
                ,now(3)
            </when>
            <otherwise>
                ,now(3)
            </otherwise>
        </choose>
        )
    </insert>

    <insert id="insertDeploySql">
        insert into deploy_sql_job_phase(`id`, `job_id`, `job_phase_name`,`sql_id`)
        values (#{id},
                #{jobId},
                #{phaseName},
                #{sqlId})
    </insert>

    <select id="getDeploySqlBySysIdAndModuleIdAndEnvIdAndVersionAndSqlFile" resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.id,
               dsd.`md5`,
               dsd.`status`,
               dsd.`sql_file` as sqlFile,
               dsjp.job_id     as jobId
        FROM deploy_sql_detail dsd
                 JOIN deploy_sql_job_phase dsjp ON dsjp.sql_id = dsd.id
        WHERE dsd.system_id = #{sysId}
          AND dsd.module_id = #{moduleId}
          AND dsd.env_id = #{envId}
          AND dsd.version = #{version}
          AND dsd.sql_file = #{sqlFile}
    </select>

    <select id="getDeploySqlDetailList"
            resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.`id`,
        dsd.`md5`,
        dsd.`status`,
        dsd.`runner_id` as runnerId,
        dsd.`sql_file` as sqlFile,
        dsd.system_id as sysId,
        dsd.module_id as moduleId,
        dsd.env_id as envId,
        dsd.version as version,
        dsd.resource_id as resourceId,
        dsd.node_name as nodeName
        from
        deploy_sql_detail dsd
        WHERE
        <foreach collection="sqlFileDetailVoList" item="vo" separator="or">
            (
            dsd.system_id = #{vo.sysId}
            AND dsd.module_id = #{vo.moduleId}
            AND dsd.env_id = #{vo.envId}
            AND dsd.version = #{vo.version}
            <if test="vo.sqlFile != null and vo.sqlFile != ''">
                AND dsd.sql_file = #{vo.sqlFile}
            </if>
            )
            AND dsd.is_delete = 0
        </foreach>
    </select>

    <select id="getAllDeploySqlDetailList" parameterType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo"
            resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.`id`,
               dsd.`md5`,
               dsd.`status`,
               dsd.`sql_file`  as sqlFile,
               dsd.system_id   as sysId,
               dsd.module_id   as moduleId,
               dsd.env_id      as envId,
               dsd.version     as version,
               dsd.`is_delete` as isDelete
        FROM deploy_sql_job_phase asjp
                 join deploy_sql_detail dsd ON dsd.id = asjp.sql_id
        WHERE dsd.system_id = #{sysId}
          AND dsd.module_id = #{moduleId}
          AND dsd.env_id = #{envId}
          AND dsd.version = #{version}
          AND asjp.job_phase_name = #{phaseName}
          AND dsd.is_delete = 0
    </select>

    <select id="searchDeploySqlCount" resultType="int">
        SELECT
        count(dsd.id)
        <include refid="searchDeploySql"></include>
    </select>

    <select id="searchDeploySql" resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT
        dsd.id,
        dsd.status,
        dsd.start_time,
        dsd.end_time,
        dsd.sql_file AS sqlFile,
        dsd.host,
        dsd.`port`,
        dsd.runner_id AS runnerId,
        dsd.is_delete AS isDelete,
        dsd.start_time AS startTime,
        dsd.end_time AS endTime,
        dsd.resource_id AS resourceId,
        r.`host` AS runnerHost,
        r.`port` AS runnerPort,
        dsd.`node_name` AS nodeName
        <include refid="searchDeploySql"></include>
        ORDER BY dsd.`start_time` DESC
        <if test="needPage">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getJobSqlIdListByJobIdAndJobPhaseNameList" resultType="java.lang.Long">
        SELECT sql_id
        FROM deploy_sql_job_phase
        WHERE job_id = #{jobId}
        AND job_phase_name IN
        <foreach collection="jobPhaseNameList" item="name" separator="," open="(" close=")">
            #{name}
        </foreach>
    </select>

    <sql id="searchDeploySql">
        FROM
        deploy_sql_detail dsd
        JOIN deploy_sql_job_phase dsjp ON dsd.id = dsjp.sql_id
        LEFT JOIN runner r ON r.id = dsd.runner_id
        <where>
            <if test="statusList != null and statusList.size() > 0 ">
                and dsd.`status` in
                <foreach collection="statusList" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                and (dsd.`name` like concat('%',#{keyword},'%') or dsd.`host` like concat('%',#{keyword},'%'))
            </if>
            <if test="isDelete != null">
                and dsd.`is_delete` = #{isDelete}
            </if>
            and dsjp.job_id= #{jobId}
            and dsjp.job_phase_name= #{jobPhaseName}
        </where>
    </sql>

    <update id="updateDeploySqlDetailIsDeleteAndStatusAndMd5ById">
        UPDATE deploy_sql_detail
        SET `md5` = #{md5},
        `status` = #{status},
        <choose>
            <when test="status == 'pending'">
            </when>
            <when test="status == 'running'">
                `start_time`=now(3),
            </when>
            <otherwise>
                `end_time`=now(3),
            </otherwise>
        </choose>
        `is_delete` = 0
        WHERE id = #{id}
    </update>

    <update id="updateDeploySqlIsDeleteByIdList">
        UPDATE deploy_sql_detail
        SET
        `is_delete` = 1
        WHERE id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="resetDeploySqlStatusBySqlIdList">
        UPDATE deploy_sql_detail
        SET `status` = "pending",
        `start_time` = null,
        `end_time` = null
        WHERE id IN
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>