<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeploySqlMapper">

    <insert id="insertDeploySqlDetail">
        insert into `deploy_sql_detail`(`id`,
        `system_id`,
        `module_id`,
        `env_id`,
        `version`,
        `sql_file`,
        `status`,
        `md5`,
        `host`,
        `port`,
        `resource_ip`,
        `runner_id`,
        `runner_port`,
        `is_delete`,
        <choose>
            <when test="status == 'pending'">
            </when>
            <when test="status == 'running'">
                `start_time`,
            </when>
            <otherwise>
                `end_time`
            </otherwise>
        </choose>
        )
        values (#{id},
        #{systemId},
        #{moduleId},
        #{envId},
        #{version},
        #{sqlFile},
        #{status},
        #{md5},
        #{host},
        #{port},
        #{resourceIp},
        #{runnerId},
        #{runnerPort},
        #{isDelete},
        <choose>
            <when test="status == 'pending'">
            </when>
            <when test="status == 'running'">
                now(3),
            </when>
            <otherwise>
                now(3)
            </otherwise>
        </choose>
        )
    </insert>

    <insert id="insertDeploySql">
        insert into deploy_sql(`id`, `job_id`, `sql_id`)
        values (#{id},
                #{jobId},
                #{sqlId})ON DUPLICATE KEY
        UPDATE job_id =#{jobId},
            sql_id =#{sqlId}
    </insert>

    <select id="getAutoexecJobIdByDeploySqlDetailVo" resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo"
            parameterType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.id,
               dsd.`md5`,
               dsd.`status`,
               dsd.`sql_file` as sqlFile,
               ajs.job_id     as jobId
        FROM deploy_sql_detail dsd
                 JOIN deploy_sql ajs ON ajs.sql_id = dsd.id
        WHERE dsd.system_id = #{systemId}
          AND dsd.module_id = #{moduleId}
          AND dsd.env_id = #{envId}
          AND dsd.version = #{version}
          AND dsd.sql_file = #{sqlFile}
    </select>

    <select id="getDeploySqlDetailList"
            resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.`id`,
        dsd.`md5`,
        dsd.`status`,
        dsd.`runner_ip` as runnerIp,
        dsd.`runner_port` as runnerPort,
        dsd.`sql_file` as sqlFile,
        dsd.system_id as systemId,
        dsd.module_id as moduleId,
        dsd.env_id as envId,
        dsd.version as version
        from
        deploy_sql_detail dsd
        WHERE
        <foreach collection="sqlFileDetailVoList" item="vo" separator="or">
            (
            dsd.system_id = #{vo.systemId}
            AND dsd.module_id = #{vo.moduleId}
            AND dsd.env_id = #{vo.envId}
            AND dsd.version = #{vo.version}
            AND dsd.sql_file = #{vo.sqlFile}
            )
            AND dsd.is_delete = 0
        </foreach>
    </select>

    <select id="getAllDeploySqlDetailList" parameterType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo"
            resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT dsd.`id`,
               dsd.`md5`,
               dsd.`status`,
               dsd.`sql_file`  as sqlFile,
               dsd.system_id   as systemId,
               dsd.module_id   as moduleId,
               dsd.env_id      as envId,
               dsd.version     as version,
               dsd.`is_delete` as isDelete
        FROM deploy_sql ajs
                 join deploy_sql_detail dsd ON dsd.id = ajs.sql_id
        WHERE dsd.system_id = #{systemId}
          AND dsd.module_id = #{moduleId}
          AND dsd.env_id = #{envId}
          AND dsd.version = #{version}
    </select>

    <select id="searchDeploySqlCount" resultType="int">
        SELECT
        count(dsd.id)
        <include refid="searchDeploySql"></include>
    </select>

    <select id="searchDeploySql" resultType="codedriver.framework.deploy.dto.sql.DeploySqlDetailVo">
        SELECT
        dsd.id,
        dsd.status,
        dsd.start_time,
        dsd.end_time,
        dsd.sql_file AS sqlFile,
        dsd.host AS ip,
        dsd.`port`,
        dsd.runner_ip AS runnerIp,
        dsd.runner_port AS runnerPort,
        dsd.is_delete AS isDelete,
        dsd.start_time AS startTime,
        dsd.end_time AS endTime,
        ri.`name`
        <include refid="searchDeploySql"></include>
        ORDER BY dsd.`start_time` DESC
        <if test="needPage">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <sql id="searchDeploySql">
        FROM
        autoexec_job_phase_node ajpn
        LEFT JOIN deploy_sql_detail dsd ON ajpn.resource_id = dsd.resource_id
        LEFT JOIN deploy_sql ds ON dsd.id = ds.sql_id AND ajpn.job_id = ds.job_id
        LEFT JOIN ${schemaName}.resource_ipobject ri ON ri.id = dsd.resource_id
        <where>
            <if test="statusList != null and statusList.size() > 0 ">
                and dsd.`status` in
                <foreach collection="statusList" item="status" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                and (ri.`name` like concat('%',#{keyword},'%') or dsd.`host` like concat('%',#{keyword},'%'))
            </if>
            <if test="isDelete != null">
                and dsd.`is_delete` = #{isDelete}
            </if>
            and ajpn.job_id= #{jobId}
            and ajpn.job_phase_id= #{jobPhaseId}
        </where>
    </sql>

    <update id="updateDeploySqlDetailIsDeleteAndStatusAndMd5ById">
        UPDATE deploy_sql_detail
        SET `md5` = #{md5},
        `status` = #{status},
        <choose>
            <when test="status == 'pending'">
            </when>
            <when test="status == 'running'">
                `start_time`=now(3),
            </when>
            <otherwise>
                `end_time`=now(3),
            </otherwise>
        </choose>
        `is_delete` = 0
        WHERE id = #{id}
    </update>

    <update id="updateDeploySqlIsDeleteByIdList">
        UPDATE deploy_sql_detail
        SET
        `is_delete` = 1
        WHERE id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>