<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeployVersionMapper">

    <select id="checkDeployVersionIsRepeat" resultType="int">
        select count(id)
        from deploy_version
        where id != #{id}
          and app_system_id = #{appSystemId}
          and app_module_id = #{appModuleId}
          and version = #{version}
    </select>

    <select id="getDeployVersionById" resultType="codedriver.framework.deploy.dto.version.DeployVersionVo">
        select id,
               version,
               app_system_id   as appSystemId,
               app_system_name as appSystemName,
               app_module_id   as appModuleId,
               app_module_name as appModuleName,
               is_locked         as isLocked,
               fcu,
               fcd,
               lcu,
               lcd
        from deploy_version
        where id = #{id}
    </select>

    <select id="searchDeployVersionCount" resultType="java.lang.Integer">
        select count(dv.id)
        from deploy_version dv
        <include refid="searchVersionWhere"></include>
    </select>

    <sql id="searchVersionWhere">
        <where>
            <if test="keyword != null and keyword != ''">
                and dv.`version` like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="isLocked != null">
                and dv.is_locked = #{isLocked}
            </if>
            <if test="appSystemIdList != null and appSystemIdList.size() > 0">
                AND dv.app_system_id IN
                <foreach collection="appSystemIdList" item="appSystemId" open="(" separator="," close=")">
                    #{appSystemId}
                </foreach>
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                AND dv.app_module_id IN
                <foreach collection="appModuleIdList" item="appModuleId" open="(" separator="," close=")">
                    #{appModuleId}
                </foreach>
            </if>
            <if test="defaultValue != null and defaultValue.size() > 0">
                AND dv.id IN
                <foreach collection="defaultValue" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </sql>

    <resultMap id="deployVersionMap" type="codedriver.framework.deploy.dto.version.DeployVersionVo">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="appSystemId" property="appSystemId"/>
        <result column="appSystemName" property="appSystemName"/>
        <result column="appModuleId" property="appModuleId"/>
        <result column="appModuleName" property="appModuleName"/>
        <result column="isLocked" property="isLocked"/>
        <result column="fcu" property="fcu"/>
        <result column="fcd" property="fcd"/>
        <result column="lcu" property="lcu"/>
        <result column="lcd" property="lcd"/>
        <collection property="buildNoList" ofType="codedriver.framework.deploy.dto.version.DeployVersionBuildNoVo">
            <result column="buildNo" property="buildNo"/>
            <result column="buildNoStatus" property="status"/>
            <result column="buildNoFcd" property="fcd"/>
        </collection>
        <collection property="envList" ofType="codedriver.framework.deploy.dto.version.DeployVersionEnvVo">
            <id column="envId" property="envId"/>
            <result column="envName" property="envName"/>
            <result column="envStatus" property="status"/>
        </collection>
    </resultMap>

    <select id="searchDeployVersion" resultMap="deployVersionMap">
        select
        dv.id,
        dv.version,
        dv.app_system_id as appSystemId,
        dv.app_system_name as appSystemName,
        dv.app_module_id as appModuleId,
        dv.app_module_name as appModuleName,
        dv.is_locked as isLocked,
        dvb.build_no as buildNo,
        dvb.status as buildNoStatus,
        dvb.fcd as buildNoFcd,
        dve.env_id as envId,
        cc.name as envName,
        dve.status as envStatus,
        dv.fcu,
        dv.fcd,
        dv.lcu,
        dv.lcd
        from deploy_version dv
        left join deploy_version_buildno dvb on dvb.version_id = dv.id
        left join deploy_version_env dve on dve.version_id = dv.id
        left join cmdb_cientity cc on cc.id = dve.env_id
        <include refid="searchVersionWhere"></include>
        ORDER BY dv.fcd DESC, dvb.fcd DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getJobIdByDeployVersionIdAndBuildNo" resultType="java.lang.Long">
        SELECT `job_id` FROM `deploy_version_buildno` WHERE `version_id` = #{versionId} AND `build_no` = #{buildNo}
    </select>

    <select id="getJobIdByDeployVersionIdAndEnvId" resultType="java.lang.Long">
        SELECT `job_id` FROM `deploy_version_env` WHERE `version_id` = #{versionId} AND `env_id` = #{envId}
    </select>

    <select id="getDeployVersionBySystemIdAndModuleIdAndVersion" parameterType="codedriver.framework.deploy.dto.version.DeployVersionVo"
            resultType="codedriver.framework.deploy.dto.version.DeployVersionVo">
        select id,
               version,
               app_system_id   as appSystemId,
               app_system_name as appSystemName,
               app_module_id   as appModuleId,
               app_module_name as appModuleName,
               is_locked       as isLocked,
               config,
               fcu,
               fcd,
               lcu,
               lcd
        from deploy_version
        where version = #{version} and app_system_id = #{appSystemId} and app_module_id = #{appModuleId}
    </select>

    <update id="unLockDeployVersionById">
        update deploy_version
        set is_locked = #{isLocked}
        where id = #{id}
    </update>

    <update id="updateDeployVersionConfig" parameterType="codedriver.framework.deploy.dto.version.DeployVersionVo">
        update deploy_version
        set config = #{configStr}
        where id = #{id}
    </update>

    <insert id="insertDeployVersion">
        insert into deploy_version
        (id, version, app_system_id, app_system_name, app_module_id, app_module_name, is_locked, fcu, fcd, lcu,
         lcd)
        values (#{id}, #{version}, #{appSystemId}, #{appSystemName}, #{appModuleId}, #{appModuleName},
                #{isLocked},
                #{fcu}, now(3), #{lcu}, now(3))
    </insert>

    <delete id="deleteDeployVersionById">
        delete
        from deploy_version
        where id = #{id}
    </delete>
</mapper>