<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.DeployAppConfigMapper">

    <select id="getAppSystemIdList" parameterType="codedriver.framework.cmdb.dto.resourcecenter.ResourceSearchVo"
            resultType="java.lang.Long">
        SELECT ce.`id`
        FROM
        `cmdb_cientity` ce
        JOIN `cmdb_ci` cc ON ce.ci_id = cc.id AND cc.name = 'APP'
        left join ${searchVo.schemaName}.`resource_appsystem_appmodule` raa ON raa.resource_id = ce.id
        left join deploy_app_config_user dacu on ce.id = dacu.app_system_id and dacu.user_uuid = #{userUuid}
        <if test="searchVo.isConfig != null">
            left join deploy_app_config dac on ce.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        </if>
        <where>
            <if test="searchVo.keyword != null and searchVo.keyword != ''">
                ce.`name` LIKE concat('%', #{searchVo.keyword}, '%') or raa.app_module_name LIKE concat('%',
                #{searchVo.keyword}, '%')
            </if>
            <choose>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 1">
                    and dac.`config` is not NULL
                </when>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 0">
                    and dac.`config` is NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </where>
        order by if(dacu.user_uuid = #{userUuid},1,0) desc,
        CONVERT(ce.name USING gbk) COLLATE gbk_chinese_ci ASC
        limit #{searchVo.startNum}, #{searchVo.pageSize}
    </select>

    <resultMap id="appConfigSystemMap" type="codedriver.framework.deploy.dto.app.DeployAppConfigResourceVo">
        <result column="appSystemId" property="appSystemId"/>
        <result column="appSystemName" property="appSystemName"/>
        <result column="isFavorite" property="isFavorite"/>
        <result column="isConfig" property="isConfig"/>
        <collection property="appModuleList" ofType="codedriver.framework.deploy.dto.app.DeployAppModuleVo">
            <id column="appModuleId" property="id"/>
            <result column="appModuleName" property="name"/>
        </collection>
    </resultMap>

    <select id="getAppSystemListByIdList" resultMap="appConfigSystemMap">
        select ce.id as appSystemId,ce.`name` as appSystemName, if(dacu.user_uuid is null,0,1) as isFavorite,
        if(dac.config is null,0,1) as isConfig
        from  cmdb_cientity ce
        left join deploy_app_config_user dacu on ce.id = dacu.app_system_id and dacu.user_uuid = #{userUuid}
        left join deploy_app_config dac on ce.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        where ce.id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by if(dacu.user_uuid = #{userUuid},1,0) desc,
        CONVERT(ce.name USING gbk) COLLATE gbk_chinese_ci ASC
    </select>

    <select id="getAppSystemModuleListBySystemIdList" resultMap="appConfigSystemMap">
        select ce.id as appSystemId,ce.`name` as appSystemName,
        raa.app_module_id AS appModuleId,
        raa.app_module_name AS appModuleName
        from cmdb_cientity ce
        join ${schemaName}.`resource_appsystem_appmodule` raa on raa.resource_id = ce.id
        <if test="isConfig != null">
            left join deploy_app_config dac on ce.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        </if>
        where ce.id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <choose>
            <when  test="isConfig != null and isConfig == 1">
                and dac.`config` is not NULL
            </when>
            <when  test="isConfig != null and isConfig == 0">
                and dac.`config` is NULL
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="getAppSystemListByUserUuid" resultMap="appConfigSystemMap">
        select cc.id                            as appSystemId,
               cc.name                          as appSystemName,
               if(dacu.user_uuid is null, 0, 1) as isFavorite,
               if(dac.config is null, 0, 1)     as isConfig
        FROM cmdb_cientity cc
                 JOIN cmdb_ci cci ON cc.ci_id = cci.id AND cci.name = 'APP'
                 left join deploy_app_config_user dacu on cc.id = dacu.app_system_id and dacu.user_uuid = #{userUuid}
                 left join deploy_app_config dac on cc.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        <where>
            <choose>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 1">
                    dac.`config` is not NULL
                </when>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 0">
                    dac.`config` is NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </where>
        order by if(dacu.user_uuid = #{userUuid}, 1, 0) desc,
        CONVERT(cc.name USING gbk) COLLATE gbk_chinese_ci ASC
        limit #{searchVo.startNum}, #{searchVo.pageSize}
    </select>

    <select id="getAppConfigAuthorityCount" resultType="java.lang.Integer">
        select count(distinct app_system_id,env_id,auth_uuid)
        from deploy_app_config_authority
        <include refid="appConfigAuthorityWhere"/>
    </select>
    <select id="getAppConfigAuthorityList" resultType="codedriver.framework.deploy.dto.app.DeployAppConfigAuthorityVo">
        select app_system_id as appSystemId,env_id as envId,auth_uuid as authUuid
        from deploy_app_config_authority
        <include refid="appConfigAuthorityWhere"/>
        group by app_system_id,env_id,auth_uuid
        order by auth_uuid
        limit #{startNum}, #{pageSize}
    </select>

    <sql id="appConfigAuthorityWhere">
        <where>
            app_system_id = #{appSystemId}
            <if test="authUuidList != null and authUuidList.size() > 0">
                and auth_uuid in
                <foreach collection="authUuidList" item="authUuid" close=")" separator="," open="(">
                    #{authUuid}
                </foreach>
            </if>
            <if test="actionList != null and actionList.size() > 0">
                and `action` in
                <foreach collection="actionList" item="action" close=")" separator="," open="(">
                    #{action}
                </foreach>
            </if>
            <if test="envIdList != null and envIdList.size() > 0">
                and env_id in
                <foreach collection="envIdList" item="envId" close=")" separator="," open="(">
                    #{envId}
                </foreach>
            </if>
        </where>
    </sql>
    <resultMap id="appConfigAuthorityMap" type="codedriver.framework.deploy.dto.app.DeployAppConfigAuthorityVo">
        <result column="app_system_id" property="appSystemId"/>
        <result column="env_id" property="envId"/>
        <result column="auth_type" property="authType"/>
        <result column="auth_uuid" property="authUuid"/>
        <collection property="actionList" ofType="string">
            <result column="action"/>
        </collection>
    </resultMap>
    <select id="getAppConfigAuthorityDetailList" resultMap="appConfigAuthorityMap">
        select app_system_id,env_id,auth_type,auth_uuid,`action`
        from deploy_app_config_authority
        where
        <foreach collection="appConfigAuthList" item="appConfigAuth" open="(" separator=")or(" close=")">
            app_system_id = #{appConfigAuth.appSystemId} and env_id = #{appConfigAuth.envId} and
            auth_uuid = #{appConfigAuth.authUuid}
        </foreach>
    </select>

    <select id="getAppConfig" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo"
            resultType="java.lang.String">
        SELECT `config`
        FROM `deploy_app_config`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </select>

    <select id="getAppConfigVo" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo"
            resultType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        SELECT `app_system_id` as appSystemId,
               `app_module_id`     as appModuleId,
               `env_id`        as envId,
               `config`        as configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `deploy_app_config`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </select>

    <select id="getAppConfigOverrideConfig"
            parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigOverrideVo" resultType="java.lang.String">
        SELECT `config`
        FROM `deploy_app_config_override`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </select>

    <select id="getAppConfigOverrideListByAppSystemId" parameterType="java.lang.Long"
            resultType="codedriver.framework.deploy.dto.app.DeployAppConfigOverrideVo">
        SELECT `app_system_id` AS appSystemId,
               `app_module_id`     AS appModuleId,
               `env_id`        AS envId,
               `config`        AS configStr
        FROM `deploy_app_config_override`
        WHERE `app_system_id` = #{value}
    </select>

    <select id="getAppConfigDraft" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo"
            resultType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        SELECT `app_system_id` as appSystemId,
               `app_module_id`     as appModuleId,
               `env_id`        as envId,
               `config`        as configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `deploy_app_config_draft`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </select>

    <resultMap id="appEnvMap" type="codedriver.framework.deploy.dto.app.DeployAppEnvironmentVo">
        <result column="envId" property="id"/>
        <result column="envName" property="name"/>
        <result column="isEdit" property="isEdit"/>
        <collection property="appModuleList" ofType="codedriver.framework.cmdb.dto.resourcecenter.entity.AppModuleVo">
            <id column="appModuleId" property="id"/>
            <result column="appModuleName" property="name"/>
        </collection>
    </resultMap>

    <select id="getDeployAppEnvListByAppSystemIdAndModuleIdList"
            resultMap="appEnvMap">
        (
        SELECT
        rse.env_id AS envId,
        rse.env_name AS envName,
        '0' AS isEdit,
        ria.app_module_id AS appModuleId,
        ria.app_module_name AS appModuleName
        FROM
        ${schemaName}.resource_appsystem_appmodule raa
        JOIN ${schemaName}.resource_ipobject_appmodule ria ON raa.app_module_id = ria.app_module_id
        JOIN cmdb_cientity cc ON cc.id =ria.resource_id
        JOIN cmdb_ci cci ON cci.id = cc.ci_id AND cci.name = 'APPIns'
        JOIN ${schemaName}.resource_softwareservice_env rse ON ria.resource_id = rse.resource_id
        <where>
            <if test="appSystemId != null">
                raa.resource_id = #{appSystemId}
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                and ria.app_module_id in
                <foreach collection="appModuleIdList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ) UNION
        (
        SELECT
        cc.id AS envId,
        cc.name AS envName,
        '1' AS isEdit,
        cce.id AS appModuleId,
        cce.name AS appModuleName
        FROM
        deploy_app_config_env dace
        JOIN cmdb_cientity cc ON cc.id = dace.env_id
        JOIN cmdb_cientity cce ON cce.id = dace.app_module_id
        <where>
            <if test="appSystemId != null">
                dace.app_system_id = #{appSystemId}
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                and dace.app_module_id in
                <foreach collection="appModuleIdList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        )
    </select>

    <select id="getHasEnvAppModuleIdListByAppSystemIdAndModuleIdList"
            resultType="java.lang.Long">
        (
        SELECT
        ria.app_module_id
        FROM
        ${schemaName}.resource_appsystem_appmodule raa
        JOIN ${schemaName}.resource_ipobject_appmodule ria ON raa.app_module_id = ria.app_module_id
        JOIN cmdb_cientity cc ON cc.id = ria.resource_id
        JOIN cmdb_ci cci ON cci.id = cc.ci_id AND cci.name = 'APPIns'
        JOIN ${schemaName}.resource_softwareservice_env rse ON ria.resource_id = rse.resource_id
        <where>
            <if test="appSystemId != null">
                raa.resource_id = #{appSystemId}
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                and ria.app_module_id in
                <foreach collection="appModuleIdList" item="appModuleId" open="(" close=")" separator=",">
                    #{appModuleId}
                </foreach>
            </if>
        </where>
        ) UNION
        (
        SELECT
        dace.app_module_id
        FROM
        deploy_app_config_env dace
        JOIN cmdb_cientity cc ON cc.id = dace.env_id
        <where>
            <if test="appSystemId != null">
                dace.app_system_id = #{appSystemId}
            </if>
            <if test="appModuleIdList != null and appModuleIdList.size() > 0">
                and dace.app_module_id in
                <foreach collection="appModuleIdList" item="appModuleId" open="(" close=")" separator=",">
                    #{appModuleId}
                </foreach>
            </if>
        </where>
        )
    </select>

    <select id="getAppEnvAutoConfigKeyValueList" parameterType="codedriver.framework.deploy.dto.app.DeployAppEnvAutoConfigVo"
            resultType="codedriver.framework.deploy.dto.app.DeployAppEnvAutoConfigKeyValueVo">
        select
               `key`,
               `value`
        from deploy_app_env_auto_config
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
          and `instance_id` = #{instanceId}
    </select>

    <resultMap id="runnerGroupMap" type="codedriver.framework.dto.runner.RunnerGroupVo">
        <id column="groupId" property="id"/>
        <result column="groupName" property="name"/>
        <result column="groupDescription" property="description"/>
        <collection property="runnerList" ofType="codedriver.framework.dto.runner.RunnerVo">
            <id column="runnerId" property="id"/>
            <result column="runnerName" property="name"/>
            <result column="runnerUrl" property="url"/>
            <result column="runnerAccessKey" property="accessKey"/>
            <result column="runnerAccessSecret" property="accessSecret"/>
            <result column="runnerAuthType" property="authType"/>
            <result column="runnerNettyIp" property="nettyIp"/>
            <result column="runnerNettyPort" property="nettyPort"/>
            <result column="runnerHost" property="host"/>
            <result column="runnerPort" property="port"/>
        </collection>
    </resultMap>

    <select id="getAppModuleRunnerGroupByAppSystemIdAndModuleId"
            resultMap="runnerGroupMap">
        SELECT rg.id             AS groupId,
               rg.name           AS groupName,
               rg.description    AS groupDescription,
               r.`id`            AS runnerId,
               r.`name`          AS runnerName,
               r.`url`           AS runnerUrl,
               r.`access_key`    AS runnerAccessKey,
               r.`access_secret` AS runnerAccessSecret,
               r.`auth_type`     AS runnerAuthType,
               r.`netty_ip`      AS runnerNettyIp,
               r.`netty_port`    AS runnerNettyPort,
               r.`host`          AS runnerHost,
               r.`port`          AS runnerPort
        FROM deploy_app_module_runner_group damrg
                 JOIN runnergroup rg ON rg.id = damrg.runner_group_id
                 LEFT JOIN runnergroup_runner rgr ON rg.`id` = rgr.`runnergroup_id`
                 LEFT JOIN runner r ON r.`id` = rgr.`runner_id`
        WHERE damrg.app_system_id = #{appSystemId}
          AND damrg.app_module_id = #{appModuleId}
    </select>

    <select id="getAppEnvAutoConfigListBySystemIdAndModuleIdAndEnvIdAndInstanceIdList"
            resultMap="appEnvAutoConfigMap">
        SELECT
        daeac.`app_system_id` AS appSystemId,
        daeac.`app_module_id` AS appModuleId,
        daeac.`env_id` AS envId,
        daeac.`instance_id` AS instanceId,
        cc.`name` AS instanceName,
        daeac.`key`,
        daeac.`value`
        FROM
        deploy_app_env_auto_config daeac
        JOIN cmdb_cientity cc ON cc.id = daeac.instance_id
        WHERE daeac.`app_system_id` = #{appSystemId}
        and daeac.`app_module_id` = #{appModuleId}
        and daeac.`env_id` = #{envId}
        and daeac.`instance_id` in
        <foreach collection="instanceIdList" item="instanceId" open="(" close=")" separator=",">
            #{instanceId}
        </foreach>
    </select>

    <sql id="searchAppModuleEnvConfigInstance">
        FROM ${schemaName}.resource_appsystem_appmodule raa
        JOIN ${schemaName}.resource_ipobject_appmodule ria ON raa.app_module_id = ria.app_module_id
        JOIN ${schemaName}.resource_softwareservice_env rse ON ria.resource_id = rse.resource_id
        WHERE raa.resource_id = #{searchVo.appSystemId}
        AND ria.app_module_id = #{searchVo.appModuleId}
        AND rse.env_id = #{searchVo.envId}
        AND rse.resource_id
        <if test="searchVo.isAutoConfig == 1">
            in
        </if>
        <if test="searchVo.isAutoConfig == 0">
            not in
        </if>
        (select `instance_id`
        from deploy_app_env_auto_config
        WHERE `app_system_id` = #{searchVo.appSystemId}
        and `app_module_id` = #{searchVo.appModuleId}
        and `env_id` = #{searchVo.envId})
    </sql>

    <select id="getAppModuleEnvAutoConfigInstanceIdCount" resultType="int">
        SELECT count(rse.resource_id)
        <include refid="searchAppModuleEnvConfigInstance"></include>
    </select>

    <select id="getAppModuleEnvAutoConfigInstanceIdList" resultType="java.lang.Long">
        SELECT rse.resource_id
        <include refid="searchAppModuleEnvConfigInstance"></include>
        ORDER BY rse.resource_id DESC
        LIMIT #{searchVo.startNum}, #{searchVo.pageSize}
    </select>

    <select id="getAppSystemIdListCount" resultType="java.lang.Integer">
        SELECT count(distinct ra.`id`) FROM ${schemaName}.`resource_appsystem` ra
        left join ${schemaName}.`resource_appsystem_appmodule` raa on raa.resource_id = ra.id
        <if test="isConfig != null">
            left join deploy_app_config dac on ra.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
                ra.`name` LIKE concat('%', #{keyword}, '%') or raa.app_module_name LIKE concat('%', #{keyword}, '%')
            </if>
            <choose>
                <when  test="isConfig != null and isConfig == 1">
                    and dac.`config` is not NULL
                </when>
                <when  test="isConfig != null and isConfig == 0">
                    and dac.`config` is NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getCiEntityIdListCount" resultType="java.lang.Integer">
        SELECT COUNT(a.id)
        FROM `cmdb_cientity` a
        JOIN `cmdb_ci` b ON a.ci_id = b.id
        <if test="isConfig != null">
            left join deploy_app_config dac on a.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        </if>
        where b.name = 'APP'
        <choose>
            <when  test="isConfig != null and isConfig == 1">
                and dac.`config` is not NULL
            </when>
            <when  test="isConfig != null and isConfig == 0">
                and dac.`config` is NULL
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="getAppConfigEnvByAppSystemId" resultType="int">
        SELECT count(1)
        FROM deploy_app_config_env
        WHERE `app_system_id` = #{appSystemId}
    </select>

    <select id="getAppConfigEnvByAppSystemIdAndAppModuleId" resultType="int">
        SELECT count(1)
        FROM deploy_app_config_env
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
    </select>

    <select id="getAppConfigEnvByAppSystemIdAndAppModuleIdAndEnvId"
            resultType="int">
        SELECT count(1)
        FROM deploy_app_config_env
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </select>

    <resultMap id="appEnvAutoConfigMap" type="codedriver.framework.deploy.dto.app.DeployAppEnvAutoConfigVo">
        <result column="appSystemId" property="appSystemId"/>
        <result column="appModuleId" property="appModuleId"/>
        <result column="envId" property="envId"/>
        <result column="instanceId" property="instanceId"/>
        <result column="instanceName" property="instanceName"/>
        <collection property="keyValueList" ofType="codedriver.framework.deploy.dto.app.DeployAppEnvAutoConfigKeyValueVo">
            <id column="key" property="key"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <insert id="insertAppConfigAuthority">
        INSERT INTO `deploy_app_config_authority` (`app_system_id`,
                                                   `env_id`,
                                                   `auth_type`,
                                                   `auth_uuid`,
                                                   `action`,
                                                   `lcd`,
                                                   `lcu`)
        VALUES (#{appSystemId},
                #{envId},
                #{authType},
                #{authUuid},
                #{action},
                #{lcd},
                #{lcu})
        ON DUPLICATE KEY UPDATE `lcd` = #{lcd},
                                `lcu` = #{lcu};
    </insert>
    <insert id="insertAppModuleRunnerGroup">
        INSERT INTO `deploy_app_module_runner_group` (`app_system_id`, `app_module_id`, `runner_group_id`)
        VALUES (#{appSystemId}, #{appModuleId}, #{runnerGroupId})
        ON DUPLICATE KEY UPDATE `runner_group_id` = #{runnerGroupId}
    </insert>
    <insert id="insertAppEnvAutoConfig">
        INSERT INTO deploy_app_env_auto_config
        (`app_system_id`,`app_module_id`,`env_id`,`instance_id`,`key`,`value`,`lcd`,`lcu`)
        VALUES
        <foreach collection="keyValueList" item="keyValue" separator="),(" open="(" close=")">
            #{appSystemId},#{appModuleId},#{envId},#{instanceId},#{keyValue.key},#{keyValue.value},#{lcd},#{lcu}
        </foreach>
        ON DUPLICATE KEY UPDATE `key` = VALUES(`key`),`value` = VALUES(`value`),`lcd`= VALUES(`lcd`),`lcu` =
        VALUES(`lcu`);
    </insert>
    <insert id="insertAppConfig" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        INSERT INTO `deploy_app_config` (`app_system_id`,
                                         `app_module_id`,
                                         `env_id`,
                                         `config`,
                                         `fcd`,
                                         `fcu`,
                                         `lcd`,
                                         `lcu`)
        VALUES (#{appSystemId},
                #{appModuleId},
                #{envId},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <insert id="insertAppConfigOverride" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigOverrideVo">
        INSERT INTO `deploy_app_config_override` (`app_system_id`,
                                                  `app_module_id`,
                                                  `env_id`,
                                                  `config`)
        VALUES (#{appSystemId},
                #{appModuleId},
                #{envId},
                #{configStr})
        ON DUPLICATE KEY UPDATE `config` = #{configStr}
    </insert>

    <insert id="insertAppConfigDraft" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        INSERT INTO `deploy_app_config_draft` (`app_system_id`,
                                               `app_module_id`,
                                               `env_id`,
                                               `config`,
                                               `fcd`,
                                               `fcu`,
                                               `lcd`,
                                               `lcu`)
        VALUES (#{appSystemId},
                #{appModuleId},
                #{envId},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <insert id="insertAppConfigEnv">
        insert into deploy_app_config_env(`app_system_id`, `app_module_id`, `env_id`)
        VALUES (#{appSystemId},
                #{appModuleId},
                #{envId}) ON DUPLICATE KEY
        UPDATE `app_system_id` = #{appSystemId},
            `app_module_id` = #{appModuleId},
            `env_id` = #{envId}
    </insert>

    <insert id="insertAppConfigSystemFavorite">
        insert into deploy_app_config_user(`app_system_id`, `user_uuid`)
        VALUES (#{appSystemId},
                #{userUuid}) ON DUPLICATE KEY
        UPDATE `app_system_id` = #{appSystemId},
            `user_uuid` = #{userUuid}
    </insert>

    <update id="updateAppConfig" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        UPDATE `deploy_app_config`
        SET `config` = #{configStr},
            `lcu`    = #{lcu},
            `lcd`    = NOW(3)
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </update>

    <update id="updateAppConfigDraft" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        UPDATE `deploy_app_config_draft`
        SET `config` = #{configStr},
            `lcu`    = #{lcu},
            `lcd`    = NOW(3)
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </update>

    <delete id="deleteAppConfigAuthorityByAppIdAndEnvIdAndAuthUuidAndLcd">
        delete
        from `deploy_app_config_authority`
        where `app_system_id` = #{appSystemId}
        and `env_id` = #{envId}
        and `auth_uuid` = #{authUuid}
        <if test="lcd != null">
            and `lcd` != #{lcd}
        </if>
    </delete>
    <delete id="deleteAppEnvAutoConfig">
        delete
        from deploy_app_env_auto_config
        where
        `app_system_id` = #{appSystemId}
        and `app_module_id`=#{appModuleId}
        and `env_id` = #{envId}
        and `instance_id` = #{instanceId}
        <if test="lcd != null">
            and `lcd` != #{lcd}
        </if>
    </delete>

    <delete id="deleteAppConfigDraft" parameterType="codedriver.framework.deploy.dto.app.DeployAppConfigVo">
        DELETE
        FROM `deploy_app_config_draft`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </delete>

    <delete id="deleteAppConfigEnvByAppSystemId">
        DELETE FROM `deploy_app_config_env`
        WHERE `app_system_id` = #{appSystemId}
    </delete>

    <delete id="deleteAppConfigEnvByAppSystemIdAndAppModuleId">
        DELETE FROM `deploy_app_config_env`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
    </delete>

    <delete id="deleteAppConfigEnvByAppSystemIdAndAppModuleIdAndEnvId">
        DELETE FROM `deploy_app_config_env`
        WHERE `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </delete>

    <delete id="deleteAppConfigSystemFavoriteByAppSystemIdAndUserUuid">
        DELETE FROM `deploy_app_config_user`
        WHERE `app_system_id` = #{appSystemId}
          and `user_uuid` = #{userUuid}
    </delete>

    <delete id="deleteAppConfigByAppSystemId">
        DELETE FROM `deploy_app_config`
        WHERE `app_system_id` = #{appSystemId}
    </delete>

    <delete id="deleteAppConfigByAppSystemIdAndAppModuleId">
        DELETE
        FROM `deploy_app_config`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
    </delete>

    <delete id="deleteAppConfigByAppSystemIdAndAppModuleIdAndEnvId">
        DELETE
        FROM `deploy_app_config`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
          AND `env_id` = #{envId}
    </delete>

    <delete id="deleteAppConfigAuthorityByAppSystemId">
        delete
        from `deploy_app_config_authority`
        where `app_system_id` = #{appSystemId}
    </delete>

    <delete id="deleteAppConfigAuthorityByAppSystemIdAndEnvId">
        delete
        from `deploy_app_config_authority`
        where `app_system_id` = #{appSystemId}
          AND `env_id` = #{envId}
    </delete>

    <delete id="deleteAppConfigDraftByAppSystemId">
        DELETE
        FROM `deploy_app_config_draft`
        WHERE `app_system_id` = #{appSystemId}
    </delete>

    <delete id="deleteAppConfigDraftByAppSystemIdAndAppModuleId">
        DELETE
        FROM `deploy_app_config_draft`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
    </delete>

    <delete id="deleteAppConfigDraftByAppSystemIdAndAppModuleIdAndEnvId">
        DELETE
        FROM `deploy_app_config_draft`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
          AND `env_id` = #{envId}
    </delete>

    <delete id="deleteAppConfigOverrideByAppSystemId">
        DELETE
        FROM `deploy_app_config_override`
        WHERE `app_system_id` = #{appSystemId}
    </delete>

    <delete id="deleteAppConfigOverrideByAppSystemIdAndAppModuleId">
        DELETE
        FROM `deploy_app_config_override`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
    </delete>

    <delete id="deleteAppConfigOverrideByAppSystemIdAndAppModuleIdAndEnvId">
        DELETE
        FROM `deploy_app_config_override`
        WHERE `app_system_id` = #{appSystemId}
          AND `app_module_id` = #{appModuleId}
          AND `env_id` = #{envId}
    </delete>

    <delete id="deleteAppEnvAutoConfigByAppSystemIdAndAppModuleIdAndEnvId">
        delete
        from deploy_app_env_auto_config
        where `app_system_id` = #{appSystemId}
          and `app_module_id` = #{appModuleId}
          and `env_id` = #{envId}
    </delete>

</mapper>