<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.deploy.dao.mapper.PipelineMapper">

    <select id="getJobTemplateById" parameterType="java.lang.Long"
            resultType="codedriver.framework.deploy.dto.pipeline.PipelineJobTemplateVo">
        SELECT dpj.id,
               dpj.group_id      as groupId,
               dpj.app_system_id as appSystemId,
               dpj.app_module_id as appModuleId,
               dpj.env_id        as envId,
               dpj.config        as configStr,
               dpj.sort          as sort,
               ciapp.`name`      as appSystemName,
               cienv.`name`      as envName,
               cimodule.`name`   as appModuleName
        FROM deploy_pipeline_jobtemplate AS dpj
                 LEFT JOIN cmdb_cientity AS ciapp ON dpj.app_system_id = ciapp.id
                 LEFT JOIN cmdb_cientity AS cimodule ON dpj.app_module_id = cimodule.id
                 LEFT JOIN cmdb_cientity AS cienv ON dpj.env_id = cienv.id
        WHERE dpj.id = #{value}
    </select>

    <sql id="searchJobTemplateCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE concat('%',#{keyword},'%')
            </if>
            <if test="excludeIdList != null and excludeIdList.size() > 0">
                AND dpj.id not in
                <foreach collection="excludeIdList" item="item" open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="searchJobTemplate" parameterType="codedriver.framework.deploy.dto.pipeline.PipelineJobTemplateVo"
            resultType="codedriver.framework.deploy.dto.pipeline.PipelineJobTemplateVo">
        SELECT dpj.id,
        dpj.group_id as groupId,
        dpj.app_system_id as appSystemId,
        dpj.app_module_id as appModuleId,
        dpj.env_id as envId,
        dpj.config as configStr,
        dpj.sort as sort,
        ciapp.`name` as appSystemName,
        cienv.`name` as envName,
        cimodule.`name` as appModuleName
        FROM deploy_pipeline_jobtemplate AS dpj
        LEFT JOIN cmdb_cientity AS ciapp ON dpj.app_system_id = ciapp.id
        LEFT JOIN cmdb_cientity AS cimodule ON dpj.app_module_id = cimodule.id
        LEFT JOIN cmdb_cientity AS cienv ON dpj.env_id = cienv.id
        <include refid="searchJobTemplateCondition"/>
    </select>

    <select id="searchJobTemplateCount" parameterType="codedriver.framework.deploy.dto.pipeline.PipelineJobTemplateVo"
            resultType="int">
        SELECT count(1)
        FROM deploy_pipeline_jobtemplate
        <include refid="searchJobTemplateCondition"/>
    </select>

    <resultMap id="pipelineResultMap" type="codedriver.framework.deploy.dto.pipeline.PipelineVo">
        <id column="pipelineId" property="id"/>
        <result column="pipelineName" property="name"/>
        <result column="pipelineIsActive" property="isActive"/>
        <result column="pipelineFcd" property="fcd"/>
        <result column="pipelineFcu" property="fcu"/>
        <result column="pipelineLcd" property="lcd"/>
        <result column="pipelineLcu" property="lcu"/>
        <collection property="authList" ofType="codedriver.framework.deploy.dto.pipeline.PipelineAuthVo">
            <result column="authUuid" property="authUuid"/>
            <result column="authType" property="type"/>
        </collection>
        <collection property="laneList" ofType="codedriver.framework.deploy.dto.pipeline.PipelineLaneVo">
            <id column="laneId" property="id"/>
            <result column="sort" property="sort"/>
            <collection property="groupList" ofType="codedriver.framework.deploy.dto.pipeline.PipelineGroupVo">
                <id column="groupId" property="id"/>
                <result column="groupSort" property="sort"/>
                <result column="groupNeedWait" property="needWait"/>
                <collection property="jobTemplateList"
                            ofType="codedriver.framework.deploy.dto.pipeline.PipelineJobTemplateVo">
                    <id column="jobTemplateId" property="id"/>
                    <result column="jobTemplateName" property="name"/>
                    <result column="jobTemplateAppId" property="appSystemId"/>
                    <result column="jobTemplateModuleId" property="appModuleId"/>
                    <result column="jobTemplateEnvId" property="envId"/>
                    <result column="jobTemplateAppName" property="appSystemName"/>
                    <result column="jobTemplateModuleName" property="appModuleName"/>
                    <result column="jobTemplateEnvName" property="envName"/>
                    <result column="jobTemplateConfigStr" property="configStr"/>
                    <result column="jobEnvId" property="envId"/>
                    <result column="jobEnvName" property="envName"/>
                </collection>
            </collection>
        </collection>
    </resultMap>

    <select id="getPipelineById" parameterType="java.lang.Long" resultMap="pipelineResultMap">
        SELECT dp.id             as pipelineId,
               dp.`name`         as pipelineName,
               dp.is_active      as pipelineIsActive,
               dp.fcd            as pipelineFcd,
               dp.fcu            as pipelineFcu,
               dp.lcd            as pipelineLcd,
               dp.lcu            as pipelineLcu,
               dpl.id            as laneId,
               dpl.sort          as laneSort,
               dpg.id            as groupId,
               dpg.need_wait     as groupNeedWait,
               dpg.sort          as groupSort,
               dpj.id            as jobTemplateId,
               dpj.name          as jobTemplateName,
               dpj.app_system_id as jobTemplateAppId,
               dpj.app_module_id as jobTemplateModuleId,
               dpj.env_id        as jobTemplateEnvId,
               dpj.config        as jobTemplateConfigStr,
               ciapp.`name`      as jobTemplateAppName,
               cimodule.`name`   as jobTemplateModuleName,
               cienv.`name`      as jobTemplateEnvName,
               dpa.auth_uuid     as authUuid,
               dpa.type          as authType
        FROM deploy_pipeline AS dp
                 LEFT JOIN deploy_pipeline_lane AS dpl ON dp.id = dpl.pipeline_id
                 LEFT JOIN deploy_pipeline_group AS dpg ON dpl.id = dpg.lane_id
                 LEFT JOIN deploy_pipeline_jobtemplate AS dpj ON dpg.id = dpj.group_id
                 LEFT JOIN cmdb_cientity AS ciapp ON dpj.app_system_id = ciapp.id
                 LEFT JOIN cmdb_cientity AS cimodule ON dpj.app_module_id = cimodule.id
                 LEFT JOIN cmdb_cientity AS cienv ON dpj.env_id = cienv.id
                 LEFT JOIN deploy_pipeline_auth AS dpa ON dp.id = dpa.pipeline_id
        where dp.id = #{value}
        order by dpl.sort, dpg.sort, dpj.sort
    </select>

    <sql id="searchPipelineCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                name like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </sql>

    <select id="searchPipeline" parameterType="codedriver.framework.deploy.dto.pipeline.PipelineVo"
            resultType="codedriver.framework.deploy.dto.pipeline.PipelineVo">
        select id, name,is_active as isActive,fcd,fcu,lcd,lcu
        from deploy_pipeline
        <include refid="searchPipelineCondition"/>
        order by lcu DESC
    </select>

    <select id="searchPipelineCount" parameterType="codedriver.framework.deploy.dto.pipeline.PipelineVo"
            resultType="int">
        select count(1) from deploy_pipeline
        <include refid="searchPipelineCondition"/>
    </select>
</mapper>