<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2025  深圳极向量科技有限公司 All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper SYSTEM "classpath:neatlogic/framework/dao/node/neatlogic_mybatis.dtd">
<mapper namespace="neatlogic.module.deploy.dao.mapper.DeployAppSystemMapper">

    <resultMap id="appConfigSystemMap" type="neatlogic.framework.deploy.dto.app.DeployAppSystemVo">
        <result column="appSystemId" property="id"/>
        <result column="appSystemName" property="name"/>
        <result column="appSystemNameAbbrName" property="abbrName"/>
        <result column="isFavorite" property="isFavorite"/>
        <result column="isConfig" property="isConfig"/>
        <result column="isConfigAuthority" property="isConfigAuthority"/>
        <collection property="appModuleList" ofType="neatlogic.framework.deploy.dto.app.DeployAppModuleVo">
            <id column="appModuleId" property="id"/>
            <result column="appModuleName" property="name"/>
            <result column="appModuleNameAbbrName" property="abbrName"/>
        </collection>
        <collection property="authActionVoList"
                    ofType="neatlogic.framework.deploy.dto.app.DeployAppConfigAuthorityActionVo">
            <result column="authAction" property="action"/>
            <result column="authActionType" property="type"/>
        </collection>
    </resultMap>

    <select id="getAppSystemListIncludeModuleByIdList" resultMap="appConfigSystemMap" useCache="false">
        select
        saa.id as appSystemId,
        saa.`name` as appSystemName,
        saa.`abbr_name` as appSystemNameAbbrName,
        saa.app_module_id as appModuleId,
        saa.`app_module_name` as appModuleName,
        saa.`app_module_abbr_name` as appModuleNameAbbrName,
        if(dacu.user_uuid is null,0,1) as isFavorite,
        if(dac.config is null,0,1) as isConfig,
        if( daca.app_system_id IS NULL, 0, 1 ) AS isConfigAuthority,
        daca.auth_type as authType,
        daca.auth_uuid as authUuid,
        daca.`action` as authAction,
        daca.action_type authActionType
        from @{DATA_SCHEMA}.`scence_appsystem_appmodule` saa
        left join deploy_app_config_user dacu on saa.id = dacu.app_system_id and dacu.user_uuid = #{userUuid}
        left join deploy_app_config dac on saa.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        LEFT JOIN deploy_app_config_authority daca ON daca.app_system_id = saa.id
        <if test="searchVo.isHasAllAuthority == 0">
            AND
            daca.auth_uuid IN
            (
            'alluser'
            <if test="searchVo.authUuidList != null and searchVo.authUuidList.size() > 0">
                ,
                <foreach collection="searchVo.authUuidList" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <where>
            saa.id in
            <foreach collection="searchVo.appSystemIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            <licensePolicy type="maxLimitId" column="saa.id" />
        </where>
        order by if(dacu.user_uuid = #{userUuid},1,0) desc,
        CONVERT(saa.abbr_name USING gbk) COLLATE gbk_chinese_ci ASC,
        CONVERT(saa.app_module_abbr_name USING gbk) COLLATE gbk_chinese_ci ASC
    </select>

    <select id="getAppSystemListByIdList" resultMap="appConfigSystemMap" useCache="false">
        select
        sa.id as appSystemId,
        sa.`name` as appSystemName,
        sa.`abbr_name` as appSystemNameAbbrName,
        if(dacu.user_uuid is null,0,1) as isFavorite,
        if(dac.config is null,0,1) as isConfig,
        if( daca.app_system_id IS NULL, 0, 1 ) AS isConfigAuthority,
        daca.auth_type as authType,
        daca.auth_uuid as authUuid,
        daca.`action` as authAction,
        daca.action_type authActionType
        from @{DATA_SCHEMA}.`scence_appsystem` sa
        left join deploy_app_config_user dacu on sa.id = dacu.app_system_id and dacu.user_uuid = #{userUuid}
        left join deploy_app_config dac on sa.id = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        LEFT JOIN deploy_app_config_authority daca ON daca.app_system_id = sa.id
        <if test="searchVo.isHasAllAuthority == 0">
            AND
            daca.auth_uuid IN
            (
            'alluser'
            <if test="searchVo.authUuidList != null and searchVo.authUuidList.size() > 0">
                ,
                <foreach collection="searchVo.authUuidList" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            )
        </if>
        <where>sa.id in
            <foreach collection="searchVo.appSystemIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            <licensePolicy type="maxLimitId" column="sa.id" />
        </where>
        order by if(dacu.user_uuid = #{userUuid},1,0) desc,
        CONVERT(sa.abbr_name USING gbk) COLLATE gbk_chinese_ci ASC
    </select>

    <sql id="checkDeployAuthority">

        (daca.action_type = 'operation'
        AND daca.action IN
        ('all'
        <if test="authorityActionList != null and authorityActionList.size() > 0">,
            <foreach collection="authorityActionList" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        )
        AND daca.auth_uuid IN
        (
        'alluser'
        <if test="authUuidList != null and authUuidList.size() > 0">
            ,
            <foreach collection="authUuidList" item="item" separator=",">
                #{item}
            </foreach>
        </if>
        )
        )

    </sql>

    <select id="getAppSystemIdListCount" resultType="java.lang.Integer" useCache="false">
        SELECT count(distinct a.`id`)
        FROM @{DATA_SCHEMA}.`scence_appsystem_appmodule` a
        <if test="isHasAllAuthority == 0">
            LEFT JOIN deploy_app_config_authority daca ON daca.app_system_id = a.id
        </if>
        <if test="isConfig != null">
            left join deploy_app_config b on a.`id` = b.`app_system_id` and b.`app_module_id` = 0 and b.`env_id` = 0
        </if>
        <where>
            1=1
            <if test="keyword != null and keyword != ''">
                and ( a.`name` LIKE concat('%', #{keyword}, '%') or a.`app_module_name` LIKE concat('%', #{keyword}, '%')
                or a.`abbr_name` LIKE concat('%', #{keyword}, '%')or a.`app_module_abbr_name` LIKE concat('%',
                #{keyword}, '%'))
            </if>
            <if test="appSystemIdList != null and appSystemIdList.size() > 0">
                AND a.`id` IN
                <foreach collection="appSystemIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isHasAllAuthority == 0">
                AND
                <include refid="checkDeployAuthority"/>
            </if>
            <choose>
                <when test="isConfig != null and isConfig == 1">
                    and b.`config` is not NULL
                </when>
                <when test="isConfig != null and isConfig == 0">
                    and b.`config` is NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
            <licensePolicy type="maxLimitId" column="a.id" />
        </where>
    </select>


    <select id="getAppSystemIdList" parameterType="neatlogic.framework.cmdb.dto.resourcecenter.ResourceSearchVo"
            resultType="java.lang.Long" useCache="false">
        SELECT DISTINCT id from
        (
        SELECT a.`id`
        FROM @{DATA_SCHEMA}.`scence_appsystem_appmodule` a
        left join deploy_app_config_user dacu on a.`id` = dacu.app_system_id and dacu.user_uuid = #{userUuid}
        <if test="searchVo.isHasAllAuthority == 0">
            LEFT JOIN deploy_app_config_authority daca ON daca.app_system_id = a.id
        </if>
        <if test="searchVo.isConfig != null">
            left join deploy_app_config dac on a.`id` = dac.app_system_id and dac.app_module_id = 0 and dac.env_id = 0
        </if>
        <where>
            1=1
            <if test="searchVo.keyword != null and searchVo.keyword != ''">
                and ( a.`name` LIKE concat('%', #{searchVo.keyword}, '%') or a.`app_module_name` LIKE
                concat('%',#{searchVo.keyword}, '%')
                or a.`abbr_name` LIKE concat('%', #{searchVo.keyword}, '%')or a.`app_module_abbr_name` LIKE
                concat('%',#{searchVo.keyword}, '%'))
            </if>
            <if test="searchVo.appSystemIdList != null and searchVo.appSystemIdList.size() > 0">
                AND a.`id` IN
                <foreach collection="searchVo.appSystemIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchVo.isHasAllAuthority == 0">
                AND
                (
                daca.action_type = 'operation'
                and daca.action IN
                ('all'
                <if test="searchVo.authorityActionList != null and searchVo.authorityActionList.size() > 0">,
                    <foreach collection="searchVo.authorityActionList" item="item" separator=",">
                        #{item}
                    </foreach>
                </if>
                )
                AND daca.auth_uuid IN
                (
                'alluser'
                <if test="searchVo.authUuidList != null and searchVo.authUuidList.size() > 0">
                    ,
                    <foreach collection="searchVo.authUuidList" item="item" separator=",">
                        #{item}
                    </foreach>
                </if>
                )
                )

            </if>
            <choose>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 1">
                    and dac.`config` is not NULL
                </when>
                <when test="searchVo.isConfig != null and searchVo.isConfig == 0">
                    and dac.`config` is NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
            <licensePolicy type="maxLimitId" column="a.id" />
        </where>
        order by if(dacu.user_uuid = #{userUuid},1,0) desc,
        CONVERT(a.`abbr_name` USING gbk) COLLATE gbk_chinese_ci ASC) a
        <if test="searchVo.needPage">
            limit #{searchVo.startNum}, #{searchVo.pageSize}
        </if>
    </select>

</mapper>